def coordinates(xy):
    x = ord(xy[0]) - ord('A') + 1
    y = int(xy[1])
    return x, y


def chess_coordinates(xy):
    letter = chr(xy[0] + ord('A') - 1)
    number = xy[1]
    return letter + str(number)


def possible_turns(cell):
    crdnts = coordinates(cell)
    crdnts_of_turns = [
        (crdnts[0] + 2, crdnts[1] + 1), (crdnts[0] + 2, crdnts[1] - 1),
        (crdnts[0] + 1, crdnts[1] - 2), (crdnts[0] - 1, crdnts[1] - 2),
        (crdnts[0] - 2, crdnts[1] - 1), (crdnts[0] - 2, crdnts[1] + 1),
        (crdnts[0] - 1, crdnts[1] + 2), (crdnts[0] + 1, crdnts[1] + 2)
    ]
    possible_crdnt_of_turns = [i for i in crdnts_of_turns if 0 < i[0] < 9 and 0 < i[1] < 9]
    turns = list(map(lambda x: chess_coordinates(x), possible_crdnt_of_turns))
    return sorted(turns)


print(possible_turns(input('Enter coordinates from A1 to H8')))
